.container {
    border: 5px solid white;
    padding: 30px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 7%;
    font-family: "Times New Roman", serif;
}

.header {
    font-size: 40px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}